.card{
    position: relative;
    background-color: #fafafa;
    width: 70vw;
    padding: 20px;
    max-width: 70vw;
    height: 70vw;
    background-repeat: no-repeat;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
    background-size: cover;
    background-position: center;
    border-radius: 20px;

}

.tinderCards__cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
.swipe{
    position: absolute;
}

.cardContent{
    width: 100%;
    height: 100%;
}

.card h3{
    position: absolute;
    bottom: 0;
    margin: 18px;
    color: #fff; 
}